.login-form {
    width: 400px;
    height: 320px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
  }
  
  .login-form h2 {
    text-align: center;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .login-form input[type='email'],
  .login-form input[type='password'],
  .login-form input[type='text'],
  .login-form input[type='date'],
  .login-form input[type='number'] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button[type='submit'] {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .login-form button[type='submit']:hover {
    background-color: #45a049;
  }

  .expenses {
    margin: 0 auto;
    width:80%;
    display: flex;
    justify-content: center;
    background-color: #c3dff5;
    margin-top: 30px;
    height: 60vh;
    font-size: 20px;
    font-weight: 700;
}

table th tr td{
    border: 1px solid black;
}