.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
    margin-top: 10%;
  }
  
  .login-form h2 {
    text-align: center;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .login-form label {
    font-weight: bold;
    margin-bottom: 4px; /* Add some bottom margin for spacing */
  }
  
  .login-form input[type='email'],
  .login-form input[type='password'],
  .login-form input[type='text'] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button[type='submit'] {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .login-form button[type='submit']:hover {
    background-color: #45a049;
  }